/*  your css code here. If applicable */

.p-1{
	background-color: black;
	color: white;
}
.list li:first-child{
	background-color: white;
}
.p-4{
	color: red;
}
.list li:nth-child(2n){
	background-color: grey;
	color:black;
}
.list li:last-child{
	background-color: white;
	color:black;
}

:root{
	background-color: skyblue;
	color:black;
}
.list li:nth-child(3)
{
	background-color: pink;
	color:black;
}

