/*  your css code here. If applicable */
body{
	background-color: skyblue;
	
}
.p-1{
	background-color: black;
	color:white;
}
.p-4{
	color: red;
}
.list li{
	bakground-color: white;
}

.list p{
	backgroud-color: stalegray;
	width:100%
}





